body {
  font-family: "Times New Roman", Times, serif;
  background-color: black;
  background-image: url("./images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  color: antiquewhite;
  font-size: 20px;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
.todo {
  width: 400px;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
}
h1 {
  margin-bottom: 20px;
}
#todoInput {
  display: block;
  width: calc(100% - 20px);
  margin: 0 auto 1rem auto;
  padding: 10px;
  border: none;
  border-radius: 4px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  background: lightslategrey;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button {
  background: #4b6cb7;
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
button:hover {
  background: #3950a1;
}
.deleteBtn {
  background: #ff4b4b;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
.deleteBtn:hover {
  background: #ff0000;
}
li.completed {
  text-decoration: line-through;
  color: #777;
}
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.filters span {
  flex: 1;
}
.filters .filter {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin: 0 0.5rem;
}
.filters .filter.active {
  border-bottom: 2px solid #4b6cb7;
}
.clear-completed {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 1rem;
}
